- name: Update apt
  become: yes
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  become: yes
  apt:
    name:
      - git
      - curl
      - python3-venv
      - python3-pip
      - build-essential
    state: present
