---
- name: Wait for apt lock release
  become: yes
  shell: |
    while sudo fuser /var/lib/apt/lists/lock >/dev/null 2>&1 || \
          sudo fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
        echo "APT lock detected. Waiting..."
        sleep 5
    done

- name: Update apt cache
  become: yes
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  become: yes
  apt:
    name:
      - git
      - curl
      - python3-venv
      - python3-pip
      - build-essential
    state: present
