name: Frontend CI & Deploy
on:
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Download terraform outputs from S3
        run: |
          aws s3 cp s3://${{ secrets.TFSTATE_BUCKET }}/outputs/terraform-outputs.json terraform-outputs.json
          echo "Terraform outputs:"
          cat terraform-outputs.json

      - name: Prepare inventory and SSH key
        run: |
            python3 - <<'PY'
            import json
            o = json.load(open('terraform-outputs.json'))

            frontend_ip = o["frontend_public_ip"]
            backend_ip = o["backend_private_ip"]

            inv = f"""
            [frontend]
            frontend ansible_host={frontend_ip} ansible_user=ubuntu ansible_ssh_private_key_file=/tmp/deploy_key

            [backend]
            backend ansible_host={backend_ip} ansible_user=ubuntu ansible_ssh_private_key_file=/tmp/deploy_key
            """

            open('ansible/inventory/dev.ini','w').write(inv)
            print("Inventory created")
            PY
       
      - name: Add SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /tmp/deploy_key
          chmod 600 /tmp/deploy_key

      - name: Disable Husky (CI safe build)
        working-directory: ./frontend
        run: |
          npm pkg delete scripts.prepare || true

      - name: Build frontend
        working-directory: ./frontend
        run: |
          npm ci
          npm run build


      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip3 install ansible

      - name: Run Ansible
        run: |
          ansible-playbook -i ansible/inventory/dev.ini ansible/playbooks/setup_frontend.yml --ssh-common-args='-o StrictHostKeyChecking=no'
