name: Frontend CI & Deploy
on:
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download terraform outputs from S3
        run: |
          aws s3 cp s3://${{ secrets.TFSTATE_BUCKET }}/outputs/terraform-outputs.json terraform-outputs.json
          echo "Terraform outputs:"
          cat terraform-outputs.json

      - name: Prepare inventory and SSH key
        run: |
          python3 - <<'PY'
          import json
          o = json.load(open('terraform-outputs.json'))
          frontend_ip = o['frontend_public_ip']

          inv = f"""[frontend]
          frontend ansible_host={frontend_ip} ansible_user=ubuntu ansible_ssh_private_key_file=/tmp/deploy_key
          """

          open('ansible/inventory/dev.ini','w').write(inv)
          print("Inventory created")
          PY
          
      - name: Add SSH key
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > /tmp/deploy_key
          chmod 600 /tmp/deploy_key

      - name: Build frontend
        run: |
          cd frontend
          npm ci
          npm run build

      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip3 install ansible

      - name: Run Ansible
        run: |
          ansible-playbook -i ansible/inventory/dev.ini ansible/playbooks/setup_frontend.yml --ssh-common-args='-o StrictHostKeyChecking=no'
